<%- contentFor('title') %>
作品編集
<%- contentFor('displayId') %>
Aa-9
<%- contentFor('styles') %>

<%- contentFor('scripts') %>

<%- contentFor('body') %>
<div class="col-sm-12 form-container">
    <% /* フォーム */ %>
    <form method="post" class="form-horizontal">
        <div class="menu-group">
            <%- include('../../common/errorMessage') %>
            <%- include('../../common/successMessage') %>
        </div>

        <% /* 作品コード */ %>
        <div class="form-group ">
            <label class="col-sm-3 control-label label-title">
                作品コード
            </label>
            <div class="col-sm-9">
                <input readonly style="width:auto;" type="text" class="form-control" name="identifier" id="identifier"
                    placeholder="" maxlength=64 value="<%= forms.identifier %>">
            </div>
        </div>

        <% /* 登録・更新共通部 */ %>
        <%- include('form', { forms: forms }) %>

        <% /* 更新ボタン */ %>
        <div class="form-group">
            <div class="btn-area panel-body">
                <a class="btn btn-ok btn-primary">更新する</a>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {
        $('.btn-ok').on('click', function () {
            $('form').submit();
        });
        // datepickerセット
        $('.datepicker').datepicker({
            language: 'ja'
        })
    });
</script>