<%- contentFor('title') %>
券種グループマスタ更新
<%- contentFor('displayId') %>
Aa-7
<%- contentFor('body') %>
<div class="col-sm-12 form-container">
    <% /* フォーム */ %>
    <form method="post" class="form-horizontal" >
        <div class="menu-group">
            <% /* メッセージ */ %>
            <% if (message != '') { %>
            <p class="error message text-danger panel-body bg-danger"><%= message %></p>
            <% } %>
        </div>

        <% /* 券種グループコード */ %>
        <input type="hidden" name="id" value="<%= forms.id %>">

        <%- include('form', { forms: forms }) %>

        <% /* 登録ボタン */ %>
        <div class="form-group">
            <div class="btn-area panel-body">
                <a class="btn btn-ok btn-primary">更新する</a>
            </div>
        </div>
    </form>
</div>
<script>
$(function(){
    $('.btn-ok').on('click', function(){
        $('form').submit();
    });
});
</script>
