<select class="form-control" name="<%= hourName %>">
    <option value="" disabled selected>--</option>
    <% for (let i = 0; i < 24; i++) { %>
        <% let hour = ('00' + String(i)).slice(-2); %>
        <option value="<%= hour %>">
            <%= hour %>
        </option>
    <% } %>
</select>
時
<select class="form-control" name="<%= minuteName %>">
    <option value="" disabled selected>--</option>
    <% for (let i = 0; i < 60; i+=5) { %>
        <% let minutes = ('00' + String(i)).slice(-2); %>
        <option value="<%= minutes %>">
            <%= minutes %>
        </option>
    <% } %>
</select>
分