<div class="side-navi">
    <div class="panel panel-default">
        <div class="panel-heading">マスタ管理</div>
        <ul class="nav nav-pills nav-stacked">
            <li class="<%= (displayId === 'Aa-12') ? 'active': ''; %>"><a href="/places/movieTheater">
                    <i class="glyphicon glyphicon-list"></i> 劇場検索</a>
            </li>
            <li class="<%= (displayId === 'Aa-9') ? 'active': ''; %>"><a href="/creativeWorks/movie/add">
                    <i class="glyphicon glyphicon-plus"></i> 映画作品登録</a>
            </li>
            <li class="<%= (displayId === 'Aa-10') ? 'active': ''; %>"><a href="/creativeWorks/movie">
                    <i class="glyphicon glyphicon-list"></i> 映画作品検索</a>
            </li>
            <li class="<%= (displayId === 'Aa-2') ? 'active': ''; %>"><a href="/events/screeningEventSeries/add">
                    <i class="glyphicon glyphicon-plus"></i> 上映イベントシリーズ登録</a>
            </li>
            <li class="<%= (displayId === 'Aa-3') ? 'active': ''; %>"><a href="/events/screeningEventSeries">
                    <i class="glyphicon glyphicon-list"></i> 上映イベントシリーズ検索</a>
            </li>
            <li class="<%= (displayId === 'Aa-4') ? 'active': ''; %>"><a href="/events/screeningEvent">
                    <i class="glyphicon glyphicon-calendar"></i> 上映イベント登録/検索</a>
            </li>
            <li class="<%= (displayId === 'Aa-5') ? 'active': ''; %>"><a href="/ticketTypes/add">
                    <i class="glyphicon glyphicon-plus"></i> 券種登録</a>
            </li>
            <li class="<%= (displayId === 'Aa-6') ? 'active': ''; %>"><a href="/ticketTypes">
                    <i class="glyphicon glyphicon-list"></i> 券種検索</a>
            </li>
            <li class="<%= (displayId === 'Aa-7') ? 'active': ''; %>"><a href="/ticketTypeGroups/add">
                    <i class="glyphicon glyphicon-plus"></i> 券種グループ登録</a>
            </li>
            <li class="<%= (displayId === 'Aa-8') ? 'active': ''; %>"><a href="/ticketTypeGroups">
                    <i class="glyphicon glyphicon-list"></i> 券種グループ検索</a>
            </li>
        </ul>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">予約管理</div>
        <ul class="nav nav-pills nav-stacked">
            <li class="<%= (displayId === 'Aa-11') ? 'active': ''; %>"><a href="/reservations">
                    <i class="glyphicon glyphicon-list"></i> 予約検索</a>
            </li>
        </ul>
    </div>
</div>