<%- contentFor('title') %>
科目登録
<%- contentFor('displayId') %>
Aa-16
<%- contentFor('styles') %>

<%- contentFor('scripts') %>

<%- contentFor('body') %>
<div class="col-sm-12 form-container">
    <% /* フォーム */ %>
    <form method="post" class="form-horizontal">
        <div class="menu-group">
            <%- include('../common/errorMessage') %>
            <%- include('../common/successMessage') %>
        </div>

        <% /* 登録・更新共通部 */ %>
        <%- include('form', { forms: forms }) %>

        <% /* 登録ボタン */ %>
        <div class="form-group">
            <div class="btn-area panel-body">
                <a class="btn btn-ok btn-primary">登録する</a>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {
        $('.btn-ok').on('click', function () {
            $('form').submit();
        });
        // datepickerセット
        $('.datepicker').datepicker({
            language: 'ja'
        })
    });
</script>