<div class="modal fade" id="newModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">パフォーマンス新規登録</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label text-right" for="screen">イベントシリーズ<font color="red">＊</font></label>
                            <div class="col-sm-9 form-inline">
                                <select class="form-control" name="screeningEventSeriesId">
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label text-right" for="screen">スクリーン<font color="red">＊</font></label>
                            <div class="col-sm-9">
                                <select class="form-control" name="screen"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label text-right">上映日<font color="red">＊</font></label>
                            <div class="col-sm-9 form-inline">
                                <input class="form-control datepicker" name="screeningDateStart" placeholder="YYYY/MM/DD" maxlength=10>
                                〜
                                <input class="form-control datepicker" name="screeningDateThrough" placeholder="YYYY/MM/DD" maxlength=10>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label text-right">曜日<font color="red">＊</font></label>
                            <div class="col-sm-9 form-inline">
                                <label class="checkbox-inline"><input type="checkbox" value="1" name="weekDay" checked>月</label>
                                <label class="checkbox-inline"><input type="checkbox" value="2" name="weekDay" checked>火</label>
                                <label class="checkbox-inline"><input type="checkbox" value="3" name="weekDay" checked>水</label>
                                <label class="checkbox-inline"><input type="checkbox" value="4" name="weekDay" checked>木</label>
                                <label class="checkbox-inline"><input type="checkbox" value="5" name="weekDay" checked>金</label>
                                <label class="checkbox-inline"><input type="checkbox" value="6" name="weekDay" checked>土</label>
                                <label class="checkbox-inline"><input type="checkbox" value="7" name="weekDay" checked>日</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label text-right" for="releaseDate">発売開始日</label>
                            <div class="col-sm-9 form-inline">
                                <input class="form-control datepicker" name="releaseDate" placeholder="YYYY/MM/DD" maxlength=10>
                                日 
                                <%- include('../../common/part/_timeSelector', {
                                    hourName: 'releaseDateHour',
                                    minuteName: 'releaseDateMinute'
                                }) %>
                            </div>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <th></th>
                                <th>開場時間</th>
                                <th>開始時間</th>
                                <th>終了時間</th>
                                <th>券種グループ</th>
                            </thead>
                            <tbody>
                            <% for (let i = 1; i <= 8; i++) { %>
                                <tr>
                                    <td><%= i %></td>
                                    <td class="form-inline">
                                        <%- include('../../common/part/_timeSelector', {
                                            hourName: 'doorTimeHour',
                                            minuteName: 'doorTimeMinute'
                                        }) %>
                                    </td>
                                    <td class="form-inline">
                                        <%- include('../../common/part/_timeSelector', {
                                            hourName: 'startTimeHour',
                                            minuteName: 'startTimeMinute'
                                        }) %>
                                    </td>
                                    <td class="form-inline">
                                        <%- include('../../common/part/_timeSelector', {
                                            hourName: 'endTimeHour',
                                            minuteName: 'endTimeMinute'
                                        }) %>
                                    </td>
                                    <td class="form-inline">
                                        <select class="form-control" name="ticketTypeGroup">
                                            <option value="" disabled selected>選択してください</option>
                                            <% for (ticketType of ticketGroups) { %>
                                                <option value="<%= ticketType.id %>"><%= ticketType.name.ja %></option>
                                            <% } %>
                                        </select>
                                    </td>
                                </tr>
                            <% } %>
                            </tbody>
                        </table>
                        <!-- <div class="form-group">
                            <%- include('../../common/part/_timeSelector', {
                                label: '開場時間',
                                hourName: 'doorTimeHour',
                                minuteName: 'doorTimeMinutes'
                            }) %>
                        </div>
                        <div class="form-group">
                            <%- include('../../common/part/_timeSelector', {
                                label: '開始時間',
                                hourName: 'startTimeHour',
                                minuteName: 'startTimeMinutes'
                            }) %>
                        </div>
                        <div class="form-group">
                            <%- include('../../common/part/_timeSelector', {
                                label: '終了時間',
                                hourName: 'endTimeHour',
                                minuteName: 'endTimeMinutes'
                            }) %>
                        </div> -->
                    </form>
                </div>
            </div>
            <input type="hidden" name="screeningEventId" value="">
            <input type="hidden" name="theater" value="">
            <input type="hidden" name="day" value="">
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                <button type="button" class="btn btn-primary regist-button">パフォーマンスを登録</button>
            </div>
        </div>
    </div>
</div>