<div class="modal fade" id="editModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">スケジュール編集</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <ul class="list-group">
                            <li class="list-group-item film">作品 : <span></span></li>
                            <li class="list-group-item theater">劇場 : <span></span></li>
                            <li class="list-group-item day">上映日 : <span></span></li>
                        </ul>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="doorTime">開場時刻</label>
                            <div class="col-sm-9 form-inline">
                                <%- include('../../common/part/_timeSelector', {
                                    hourName: 'doorTimeHour',
                                    minuteName: 'doorTimeMinutes'
                                }) %>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="startTime">開始時刻</label>
                            <div class="col-sm-9 form-inline">
                                <%- include('../../common/part/_timeSelector', {
                                    hourName: 'startTimeHour',
                                    minuteName: 'startTimeMinutes'
                                }) %>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="endTime">終了時刻</label>
                            <div class="col-sm-9 form-inline">
                                <%- include('../../common/part/_timeSelector', {
                                    hourName: 'endTimeHour',
                                    minuteName: 'endTimeMinutes'
                                }) %>
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label" for="screen">スクリーン</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="screen"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-12" for="ticketTypeGroup">券種グループ</label>
                            <div class="col-sm-12">
                                <select class="form-control" name="ticketTypeGroup">
                                    <option value="">選択してください</option>
                                    <% for (ticketType of ticketGroups) { %>
                                    <option value="<%= ticketType.id %>">
                                        <%= ticketType.name.ja %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="saleStartDate">販売開始日</label>
                            <div class="col-sm-9 form-inline">
                                <input class="form-control datepicker" name="saleStartDate" placeholder="YYYY/MM/DD"
                                    maxlength=10>
                                日
                                <%- include('../../common/part/_timeSelector', {
                                    hourName: 'saleStartDateHour',
                                    minuteName: 'saleStartDateMinutes'
                                }) %>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="onlineDisplayStartDate">オンライン表示開始日</label>
                            <div class="col-sm-9 form-inline">
                                <input class="form-control datepicker" name="onlineDisplayStartDate" placeholder="YYYY/MM/DD"
                                    maxlength=10>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="maxSeatNumber">上限枚数</label>
                            <div class="col-sm-9 form-inline">
                                <input class="form-control" type="number" name="maxSeatNumber" maxlength=10>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-3 control-label label-title">
                            </label>
                            <div class="col-sm-9">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="mvtkExcludeFlg" value="1" id="mvtkExcludeFlg">
                                    <label class="form-check-label" for="mvtkExcludeFlg">
                                        ムビチケ対象外
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <input type="hidden" name="screeningEventId" value="">
            <input type="hidden" name="performance" value="">
            <input type="hidden" name="film" value="">
            <input type="hidden" name="theater" value="">
            <input type="hidden" name="day" value="">
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                <button type="button" class="btn btn-primary update-button">パフォーマンスを更新</button>

                <button type="button" class="btn btn-danger delete-button">削除</button>

            </div>
        </div>
    </div>
</div>