<%- contentFor('title') %>
作品マスタ登録
<%- contentFor('displayId') %>
Aa-2
<%- contentFor('styles') %>

<%- contentFor('scripts') %>



<%- contentFor('body') %>
<div class="col-sm-12 form-container">
    <% /* フォーム */ %>
    <form method="post" class="form-horizontal" >
        <div class="menu-group">
            <% /* メッセージ */ %>
            <% if (message !== '') { %>
            <p class="error message text-danger panel-body bg-danger"><%= message %></p>
            <% } %>
        </div>
        <% /* 登録・更新共通部 */ %>
        <%- include('form', { forms: forms }) %>

        <% /* 登録ボタン */ %>
        <div class="form-group">
            <div class="btn-area panel-body">
                <a class="btn btn-ok btn-primary">登録する</a>
            </div>
        </div>
    </form>
</div>
<script>
$(function(){
    $('.btn-ok').on('click', function(){
        $('form').submit();
    });
    // datepickerセット
    $('.datepicker').datepicker({
        language: 'ja'
    })
});
</script>
