<%- contentFor('title') %>
興行区分登録
<%- contentFor('displayId') %>
Aa-18
<%- contentFor('styles') %>

<%- contentFor('scripts') %>


<%- contentFor('body') %>
<div class="col-sm-12 form-container">
    <% /* フォーム */ %>
    <form method="post" class="form-horizontal">
        <div class="menu-group">
            <%- include('../common/errorMessage') %>
            <%- include('../common/successMessage') %>
        </div>
        <% /* 興行区分コード */ %>
        <div class="form-group ">
            <label for="identifier" class="col-sm-3 control-label label-title">
                興行区分コード<font color="red">＊</font>
            </label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="identifier" id="identifier" placeholder="" maxlength=64
                    value="<%= forms.identifier %>">
                <p class="message">半角64文字以内でご入力ください。</p>
                <p class="error message text-danger">
                    <% if (errors && errors.identifier) { %>
                    <%- errors.identifier.msg %>
                    <% } %>
                </p>
            </div>
        </div>
        <% /* 興行区分名 */ %>
        <div class="form-group ">
            <label for="name[ja]" class="col-sm-3 control-label label-title">
                名称<font color="red">＊</font>
            </label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="name[ja]" id="name[ja]" placeholder="" maxlength=64
                    value="<%= (forms.name !== undefined && forms.name !== null) ? forms.name.ja : '' %>">
                <p class="message">64文字以内でご入力ください。</p>
                <p class="error message text-danger">
                    <% if (errors && errors['name.ja']) { %>
                    <%- errors['name.ja'].msg %>
                    <% } %>
                </p>
            </div>
        </div>

        <% /* 登録ボタン */ %>
        <div class="form-group">
            <div class="btn-area panel-body">
                <a class="btn btn-ok btn-primary">登録する</a>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {
        $('.btn-ok').on('click', function () {
            $('form').submit();
        });
    });
</script>