<%- contentFor('title') %>
配給登録
<%- contentFor('displayId') %>
Aa-14
<%- contentFor('styles') %>

<%- contentFor('scripts') %>



<%- contentFor('body') %>
<div class="col-sm-12 form-container">
    <% /* フォーム */ %>
    <form method="post" class="form-horizontal">
        <div class="menu-group">
            <%- include('../common/errorMessage') %>
            <%- include('../common/successMessage') %>
        </div>
        <% /* 配給コード */ %>
        <div class="form-group ">
            <label for="codeValue" class="col-sm-3 control-label label-title">
                配給コード<font color="red">＊</font>
            </label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="codeValue" id="codeValue" placeholder="" maxlength=64
                    value="<%= forms.codeValue %>">
                <p class="message">
                    <% /*半角64文字以内でご入力ください。*/ %>
                    半角64文字以内でご入力ください。
                </p>
                <p class="error message text-danger">
                    <% if (errors && errors.codeValue) { %>
                    <%- errors.codeValue.msg %>
                    <% } %>
                </p>
            </div>
        </div>
        <% /* 配給名 */ %>
        <div class="form-group ">
            <label for="name[ja]" class="col-sm-3 control-label label-title">
                名称<font color="red">＊</font>
            </label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="name[ja]" id="name[ja]" placeholder="" maxlength=64
                    value="<%= (forms.name !== undefined && forms.name !== null) ? forms.name.ja : '' %>">
                <p class="message">
                    <% /64文字以内でご入力ください。*/ %>
                    64文字以内でご入力ください。
                </p>
                <p class="error message text-danger">
                    <% if (errors && errors['name.ja']) { %>
                    <%- errors['name.ja'].msg %>
                    <% } %>
                </p>
            </div>
        </div>

        <% /* 登録ボタン */ %>
        <div class="form-group">
            <div class="btn-area panel-body">
                <a class="btn btn-ok btn-primary">登録する</a>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {
        $('.btn-ok').on('click', function () {
            $('form').submit();
        });
    });
</script>