<%- contentFor('title') %>
配給マスタ一覧
<%- contentFor('displayId') %>
Aa-15
<%- contentFor('styles') %>
<link href="/css/simplePagination.css" rel="stylesheet">
<%- contentFor('scripts') %>
<script src="/js/jquery.simplePagination.js"></script>
<script src="/js/master/commonMaster.js"></script>
<script src="/js/master/commonMasterList.js"></script>
<script src="/js/master/distributionList.js"></script>
<%- contentFor('body') %>
<div class="col-sm-12 form-container search">
    <form method="post" class="form-horizontal search">
        <div class="menu-group">
            <%- include('../common/errorMessage') %>
            <%- include('../common/successMessage') %>
        </div>
        <%- include('../common/master/_hidden') %>
        <div class="form-group ">
            <label for="name" class="col-sm-3 control-label label-title">
                名称
            </label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="name" id="name" placeholder="" maxlength=64>
            </div>
        </div>
        <div class="form-group">
            <div class="panel-body">
                <a class="btn btn-ok search btn-primary"><span>検索する</span></a>
                <a class="reset-condition btn btn-danger"><span>検索内容リセット</span></a>
            </div>
        </div>
    </form>
</div>
<div class="col-sm-12 form-container search">
    <div>
        <p id="resultStats" style="display:none;">
        </p>
        <!-- <p id="searchedCount" style="display:none;">
            検索結果 $searched_count$件
        </p> -->
    </div>
    <div id="list" class="table-responsive" style="display:none;">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>配給コード</th>
                    <th>名称</th>
                    <% if (user.cognitoGroups.movieTheaters === undefined || user.cognitoGroups.movieTheaters.length === 0) { %>
                    <th></th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <tr id="templateRow" identifier="$id$">
                    <td name="id" class="hidden">$id$</td>
                    <td name="codeValue">$codeValue$</td>
                    <td name="name">$name$</td>
                    <% if (user.cognitoGroups.movieTheaters === undefined || user.cognitoGroups.movieTheaters.length === 0) { %>
                    <td name="edit" class="center">
                        <div class="btn-area">
                            <a class="btn btn-list edit" data-toggle="modal" data-target="#myModal">
                                <span>編集</span>
                            </a>
                        </div>
                    </td>
                    <% } %>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="pager" class="div_pager_parent"></div>
</div>
<%- include('edit') %>
<%- include('../common/master/_loading') %>