<%- contentFor('title') %>
登録完了ページ
<%- contentFor('displayId') %>

<%- contentFor('styles') %>

<%- contentFor('scripts') %>

<%- contentFor('body') %>
<div class="col-sm-12">
    <h3>登録完了</h3>
</div>